:root {
  --primary: #3e4648;
  --secondary: #cccccc;
  --font-medium: #2c3233;
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--primary);
}

.card {
  background-color: var(--primary);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.model_title {
  background-color: white;
  text-align: center;
  background-color: white;
  color: rgb(56, 55, 55);
  /* width: 100%; */
  text-align: center;
  padding: 10px 5px;
  font-size: 1.4rem;
  font-weight: 500;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.486);
  padding-top: 5px;
  padding-bottom: 0px;
}

.info {
  background-color: white;
  font-size: 0.6rem;
  text-align: right;
  color: rgb(112, 112, 112);
  margin-top: 5px;
}
.model_view_container {
  flex: 1;
  position: relative;
}

.model_btn_container {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100px;
  padding: 5px 0px;
  padding-bottom: 10px;
  justify-content: space-between;
  text-align: center;
  margin-left: 2rem;
  transform: translateY(-50%);
}

.btn {
  background-color: white;
  padding: 10px 15px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.363);
  font-weight: 600;
  color: var(--font-medium);
  cursor: pointer !important;
  width: 100%;
  margin: 10px;
  font-size: 1rem;
  border-radius: 18px;
  z-index: 2;
}

.btn:hover {
  opacity: 0.9;
}

.model_btn_container::before {
  content: "";
  display: block;
  width: 3px;
  height: 20px;
  background-color: #4b0188;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  z-index: 0;
}

#badge_container {
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.575);
  padding: 10px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
  pointer-events: none !important;
  visibility: hidden;
}

#badge {
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  .model_title {
    font-size: 1rem;
  }
  .btn {
    font-size: 0.8rem;
  }
  #title {
    font-size: 0.9rem;
    font-weight: 500;
  }
  #sub-title {
    display: block;
    font-weight: 600;
  }
}

@media screen and (max-width: 500px) {
}
