:root {
  --primary: #3e4648;
  --secondary: #cccccc;
  --font-medium: #2c3233;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", Arial, sans-serif;
  background-color: var(--primary);
}

.card_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--secondary);
  height: 90vh;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.model_title {
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  color: rgb(87, 83, 83);
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  font-size: 1.4rem;
  font-weight: 600;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.486);
}

.model_view_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
}

.model {
  height: 100%;
  margin: 0;
  padding: 0;
}

.model_detail_container {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;
  padding: 10px 0px;
}

.model_btn_container {
  margin: auto;
  display: flex;
  width: 100%;
  max-width: 350px;
  justify-content: space-between;
}

.btn {
  background-color: var(--secondary);
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.363);
  font-weight: 600;
  color: var(--font-medium);
  cursor: pointer;
  width: fit-content;
  margin: 5px;
}

@media screen and (max-width: 600px) {
  .card {
    border-radius: 5px;
  }
  .model_title {
    font-size: 1rem;
    border-radius: 5px 5px 0px 0px;
  }
  .model_detail_container {
    border-radius: 0px 0px 5px 5px;
  }
}

@media screen and (max-width: 500px) {
}
